table[b-w0ec89y6rt] {
    height: fit-content;
    align-self: center;
    margin: 75px 0;
}

table[b-w0ec89y6rt], th[b-w0ec89y6rt], td[b-w0ec89y6rt] {
    border: 1px solid var(--accent-color);
    border-collapse: collapse;
}

th[b-w0ec89y6rt], td[b-w0ec89y6rt] {
    min-width: 150px;
    text-align: center;
    height: 100%;
}

tr > :first-child[b-w0ec89y6rt] {
    text-align: right;
    min-width: fit-content;
    padding: 0 .5em;
}

tbody > tr[b-w0ec89y6rt] {
    height: var(--tr-height);
}

thead > tr[b-w0ec89y6rt] {
    height: 50px;
}

.page[b-w0ec89y6rt] {
    height: fit-content;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    font-size: 1.5em;
    background-color: var(--bg-color);
}

/*===========dark mode switch============*/
#dark-mode-switch[b-w0ec89y6rt] {
    position: fixed;
    display: inline-block;
    width: 30px;
    height: 18px;
    bottom: .5em;
    right: .5em;
}

    #dark-mode-switch input[b-w0ec89y6rt] {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider[b-w0ec89y6rt] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #00000020;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider[b-w0ec89y6rt]:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2.5px;
        bottom: 2.5px;
        background-color: azure;
        -webkit-transition: .4s;
        transition: .4s;
    }

.dark-mode.slider[b-w0ec89y6rt]:before {
    background-color: #1c364abd;
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.round[b-w0ec89y6rt] {
    border-radius: 40px;
}

    .slider.round[b-w0ec89y6rt]:before {
        border-radius: 50%;
    }
/*========================================*/

.add-event-btn[b-w0ec89y6rt] {
    position: relative;
    padding: 0.3em;
    width: 100%;
    height: 100%;
} 

    .add-event-btn:hover[b-w0ec89y6rt] {
        cursor: pointer;
    }

        .add-event-btn:empty:hover[b-w0ec89y6rt]:before {
            content: '➕';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0.25em;
            color: #ffffff86;
            font-size: 1.2em;
            background-color: var(--fill-color);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


.event[b-w0ec89y6rt] {
    position: relative;
    background-color: var(--event-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}


    .event:hover[b-w0ec89y6rt]:before {
        content: '📝';
        background-color: #0000003f;
        color: #ffffff86;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }