/* _content/ScheduleEditor.Frontend/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-8se7yw2aho] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-8se7yw2aho] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ScheduleEditor.Frontend/Components/Pages/Home.razor.rz.scp.css */
table[b-w0ec89y6rt] {
    height: fit-content;
    align-self: center;
    margin: 75px 0;
}

table[b-w0ec89y6rt], th[b-w0ec89y6rt], td[b-w0ec89y6rt] {
    border: 1px solid var(--accent-color);
    border-collapse: collapse;
}

th[b-w0ec89y6rt], td[b-w0ec89y6rt] {
    min-width: 150px;
    text-align: center;
    height: 100%;
}

tr > :first-child[b-w0ec89y6rt] {
    text-align: right;
    min-width: fit-content;
    padding: 0 .5em;
}

tbody > tr[b-w0ec89y6rt] {
    height: var(--tr-height);
}

thead > tr[b-w0ec89y6rt] {
    height: 50px;
}

.page[b-w0ec89y6rt] {
    height: fit-content;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    font-size: 1.5em;
    background-color: var(--bg-color);
}

/*===========dark mode switch============*/
#dark-mode-switch[b-w0ec89y6rt] {
    position: fixed;
    display: inline-block;
    width: 30px;
    height: 18px;
    bottom: .5em;
    right: .5em;
}

    #dark-mode-switch input[b-w0ec89y6rt] {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider[b-w0ec89y6rt] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #00000020;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider[b-w0ec89y6rt]:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2.5px;
        bottom: 2.5px;
        background-color: azure;
        -webkit-transition: .4s;
        transition: .4s;
    }

.dark-mode.slider[b-w0ec89y6rt]:before {
    background-color: #1c364abd;
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.round[b-w0ec89y6rt] {
    border-radius: 40px;
}

    .slider.round[b-w0ec89y6rt]:before {
        border-radius: 50%;
    }
/*========================================*/

.add-event-btn[b-w0ec89y6rt] {
    position: relative;
    padding: 0.3em;
    width: 100%;
    height: 100%;
} 

    .add-event-btn:hover[b-w0ec89y6rt] {
        cursor: pointer;
    }

        .add-event-btn:empty:hover[b-w0ec89y6rt]:before {
            content: '➕';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0.25em;
            color: #ffffff86;
            font-size: 1.2em;
            background-color: var(--fill-color);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


.event[b-w0ec89y6rt] {
    position: relative;
    background-color: var(--event-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}


    .event:hover[b-w0ec89y6rt]:before {
        content: '📝';
        background-color: #0000003f;
        color: #ffffff86;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* _content/ScheduleEditor.Frontend/Components/Pages/ManageEvent.razor.rz.scp.css */
input[b-qxd7j6axi8]{
    background-color: var(--bg-color);
}



.loading[b-qxd7j6axi8] {
    position: relative;
    width: 100%;
    height: 100%;
}

    .loading[b-qxd7j6axi8]:before {
        content: 'Loading...';
        position: absolute;
        top: 40px;
        left: -50px;
    }

.modal-header[b-qxd7j6axi8], .modal-body[b-qxd7j6axi8] {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.btn-close.dark-mode[b-qxd7j6axi8]{
    filter: invert(1) sepia(1) 
            saturate(1) hue-rotate(180deg);
}

.classTypeElement[b-qxd7j6axi8] {
    position: relative;
    margin: 0.2em 0.6em 0.2em 0;
    padding: 0 0.6em;
    border-radius: 5px;
    background-color: var(--fill-color);
}
    .classTypeElement:hover[b-qxd7j6axi8], label:hover[b-qxd7j6axi8] {
        cursor: pointer;
    }

.type-group[b-qxd7j6axi8] {
    flex-direction: row !important;
}

.form-group[b-qxd7j6axi8] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-group:not(:first-of-type)[b-qxd7j6axi8] {
    margin-top: 0.6em;
}

.submit-group[b-qxd7j6axi8] {
    float: right;
}

.clr-primary[b-qxd7j6axi8] {
    color: var(--event-color);
}

.clr-secondary[b-qxd7j6axi8] {
    color: var(--font-color);
}

.btn-primary[b-qxd7j6axi8] {
    background-color: var(--btn-primary-color);
    border: none;
}

    .btn-primary:hover[b-qxd7j6axi8] {
        background-color: var(--event-color);
        border: none;
    }

.btn-secondary[b-qxd7j6axi8] {
    color: var(--font-color);
    background-color: #00000000;
    border: none;
}

    .btn-secondary:hover[b-qxd7j6axi8] {
        background-color: var(--event-color);
        border: none;
    }

/*=======disabled additional event button======*/
label.btn-outline-primary[b-qxd7j6axi8] {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0.5em 0;
    background-color: #9292922f;
    color: #949494;
    border: none;
    --bs-btn-active-bg: #9292922f;
    --bs-btn-active-color: var(--font-color);
}

    label.btn-outline-primary[b-qxd7j6axi8]:before {
        content: '❌';
        opacity: 0.7;
        background-color: var(--bg-color);
        border-radius: 5px;
        padding-top: 7px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    label.btn-outline-primary:hover[b-qxd7j6axi8] {
        background-color: #9292922f;
        color: #949494;
        border: none;
        cursor: not-allowed;
    }
/*=============================================*/

#classType-label[b-qxd7j6axi8] {
    margin-top: 0.2em;
    margin-right: 0.6em;
}
